{% load static %}
<!doctype html>
<html>
  <head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      {% block content %}
      <h2>GoDjango</h2>
      <h3>Episode 19: Using templates for Sending Emails</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href='{% url "main:email_txt" %}'>Send Text Email</a></li>
        <li class="list-group-item"><a href='{% url "main:email_html" %}'>Send HTML Email</a></li>
      </ul>
      {% endblock %}
    </div>
  </body>
</html>
